
<div class="container">
    <h1 class="py-5  title">ABOUT THE AUTHOR</h1>
    <div class="d-flex about__center">
            <img class="about__img" src="../author.jpg" alt="author" width="200px" height="auto">
        <div class="about__wrapper">
        <h2 class="about__name ">Robert Folzenlogen</h2>
            <h4 class="about__city mt-4">Littleton, Colorado,<br /> United States</h4>
        </div>

    </div>
    <p class="about__descr py-5 col-10">
        I am a photographer, naturalist, writer, physician and father of three boys.
        A native of Cincinnati,
        I now live in Littleton, Colorado, and Columbia, Missouri.
        Love traveling and spend time with my family. With a bright outlook on life and an optimistic mood.
    </p>

</div>

