html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

img {
    width: 100%;
}
body {
  margin-bottom: 60px;
}

.blog-details-content img {
    max-width: 100%;
}

.title {
    text-align: center;
}

.about__center {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.about__descr {
    font-size: 23px;
}

.about__img {
    width: 200px;
}

.about__descr {
    text-align: center;
}